body {
    background-color: #dddddd;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #C0EDA6;
}

.main {
    width: 100%;
    height: 80vh;
    background-color: yellowgreen;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #FFF7BC;
    
}

.main_left {
    width: 25%;
    height: 100%;
    background-color: #FF8080;
    /* display: inline-block; */
    float: left;
    
}
.main_center {
    width: 50%;
    height: 100%;
    background-color: rosybrown;
    /* display: inline-block; */
    float: left;
}
.main_right {
    width: 25%;
    height: 100%;
    background-color: #FF8080;
    /* display: inline-block; */
    float: left;
}

.content_heading {
    width: calc(100% - 60px);
    height: calc(20% - 60px);
    padding: 20px;
    margin: 10px;
    background-color: coral;
    
    /* display: none; */
    /* visibility: hidden;
    opacity: 0; */
}

.content_box {
    /* width: 40%; */
    width: calc(50% - 60px);
    height: calc(40% - 60px);
    background-color: #00ffff;
    float: left;
    /* border-width: 5px;
    border-style: solid;
    border-color: darkgreen; */
    border:5px solid darkgreen;
    /* margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 20px; */
    margin: 10px 10px 10px 10px;
    /* margin: top right bottom left; */
    /* margin - start from top and go clockwise */
    /* margin: 5px;
    margin: 5px 10px; */
    /* margin: 5px 10px 15px; */
    padding: 15px 15px 15px 15px;
    background-image: url('../images/flower1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    /* overflow: hidden;  to hide extra content */
    overflow-y:scroll;
}

.content_box div {
    color: white;
}

.content_box > div {
    color: red;
}

.main_right ul {
    list-style-type: none;
    background: #00ffff;
}
.main_right ul li {
    border:1px solid #ff00aa;
    padding: 10px;
    margin: 10px;
}
.main_right ul li:hover {
    background-color: magenta;
}
/* :disabled, :focus, :active, :visited */
.main_right ul li:first-child {
    font-weight: bold;
    color: red;
}
.main_right ul li:last-child {
    text-decoration: underline;
    color: blue;
}
.main_right ul li:nth-child(2n) {
    font-size: 20px;
}
.main_right ul li:nth-child(2n+1) {
    font-size: 30px;
    font-style: italic;
}
.main_right ul li:nth-child(3) {
    font-weight: bold;
    color: green;
    text-shadow: 10px 10px 10px red;
}

/* 1st child - bold - red
last child  - underline and blue
even child - font size 20px
odd child - font size 20px and text italics
3rd child - bold green, text-shadow */

/* 16px - 1 rem */
/* gap, width, height, margin padding - px, rem/em, %, 100vh */

/* #header_div {
    width: 1200px;
    height: 100px;
    background-color: yellow;
} */


.main_left img {
    width: 100%;
    display: block;
}
.main_left p {
    color: royalblue;
    background-color: seagreen;
    border: 1px solid #ff00aa;
    padding: 10px;
}

.main_left h1 {
    color:#ff00aa;
    background-color: aqua;
    border: 1px solid #ff00aa;
    padding: 10px;
    font-size: 50px;
}

.main_left button {
    background-color: aquamarine;
    padding: 20px;
    border: 5px solid #01a4fd;
}

.main_left a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main_right table {
    background-color: yellowgreen;
    border: 5px solid #01a4fd;
}
.main_right table th {
    font-weight: bold;
    color: violet;
    padding: 10px;
    /* border: 5px solid #0104fd; */
}

.main_right table tr td, .main_right table tr th {
    border-bottom: 1px solid #222222;
}

.main_right span {
    padding: 20px;
    background-color: mediumvioletred;
    border-radius: 40px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 100px;
    /* z-index: 1; position absolute is compulsory */
}
.main_right span.span_one {
    z-index: 1000;
}
.main_right span.span_two {
    z-index: 100;
    top: 150px;
    background-color: blue;
}



/* static - normal
relative - sticky
absolute -fixed */

.main_left h1 {
    color: #ff00aa;
}

.main_left h1 {
    color: #0f00aa;
}

.main_left h1 {
    color: #0ff0aa;
}

.main_left a {
    background-color: lightgreen;
}
.main .main_left a {
    background-color: limegreen;
}
a {
    background-color: pink!important;
}



/* 
rule 1 - inline css > same page css > external page css
rule 2 - specificity rule - if selectors are different - same element
rule 3 - last css is final - if selectors are same and same element
*/
    /* id(100)      class(10)       tag(1)     finalscore
206 - 0             10              1        - 11
209 - 0             0               1         - 1 */
